<div class="bg-light">
    <div class="form-group row py-4">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <label for="" class="form-label"> County Name </label>
            <input type="text" class="form-control" id="county_name" placeholder="County of site location" readonly>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <label for="" class="form-label"> Region Name </label>
            <input type="text" class="form-control" id="region_name" placeholder="Region of site location" readonly>
        </div>
    </div>
</div>
