<div>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="h4 font-weight-bold text-primary">
            OVERVIEW
          </div>

          <!-- Total configured devices card -->
          <div class="col-lg-3 col-md-6 py-2 px-2">
            <div class="card">
              <div class="card-body primary-button text-light rounded">
                <div class="row">
                  <div class="col-lg-8 py-3">
                    <div class="card-title" style="font-size: x-small;">
                      Routers Monitoring
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <mat-icon aria-hidden="false" aria-label="Bashboard icon" fontIcon="dashboard"></mat-icon>
                  </div>
                </div>
                <div class="card-text d-flex justify-content-center" style="font-size: x-large;" id="total_clients_card">
                  0
                </div>
              </div>
            </div>
          </div>
  
          <!-- Projects card -->
          <div class="col-lg-3 col-md-6 py-2 px-2">
            <div class="card text-primary">
              <div class="card-body rounded">
                <div class="row">
                  <div class="col-lg-8 py-3">
                    <div class="card-title" style="font-size: x-small;">
                      Switches Monitoring
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <mat-icon aria-hidden="false" aria-label="Bashboard icon" fontIcon="dashboard"></mat-icon>
                  </div>
                </div>
                <div class="card-text d-flex justify-content-center" style="font-size: x-large;" id="total_projects_card">
                  0
                </div>
              </div>
            </div>
          </div>
  
          <!-- Money card -->
          <div class="col-lg-3 col-md-6 py-2 px-2">
            <div class="card">
              <div class="card-body primary-button text-light rounded">
                <div class="row">
                  <div class="col-lg-8 py-3">
                    <div class="card-title" style="font-size: x-small;">
                      Access Points Monitoring
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <mat-icon aria-hidden="false" aria-label="Bashboard icon" fontIcon="dashboard"></mat-icon>
                  </div>
                </div>
                <div class="card-text d-flex justify-content-center" style="font-size: x-large;" id="total_cost_card">
                  0
                </div>
              </div>
            </div>
          </div>
  
          <!-- Fiber km card -->
          <div class="col-lg-3 col-md-6 py-2 px-2">
            <div class="card text-primary">
              <div class="card-body rounded">
                <div class="row">
                  <div class="col-lg-8 py-3">
                    <div class="card-title" style="font-size: x-small;">
                      Firewalls Monitoring
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <mat-icon aria-hidden="false" aria-label="Bashboard icon" fontIcon="dashboard"></mat-icon>
                  </div>
                </div>
                <div class="card-text d-flex justify-content-center" style="font-size: x-large;" id="total_distance_card">
                  0
                </div>
              </div>
            </div>
          </div> 
        </div>
  
        <!-- Chart Title -->
        <div class="h4 font-weight-bold text-primary">
          STATISTICS
        </div>

        <!-- Chart Card -->
        <div class="card">
          <div class="card-body">
            <app-monitoring-ip-chart></app-monitoring-ip-chart>
          </div>
        </div>   
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="h4 font-weight-bold text-primary px-2">
          CHAT
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-6 px-2 py-2">
            <div class="card responsive-div">
              <div class="card-header h6 text-center">
                Query Llama 2
              </div>
          
              <div class="card-body overflow-auto">
                <div *ngIf="chatData">
                  <ng-container *ngFor="let message of chatData">
                    <ng-container *ngIf="message.type === 'sender'; else recipient_card">
                      <div class="message sender">
                        {{ message.message }}
                      </div>
                    </ng-container>
                    <ng-template #recipient_card>
                      <div class="message recipient">
                        {{ message.message }}
                      </div>
                    </ng-template>
                  </ng-container>
                </div>
                
              </div>
          
              <div class="card-footer">
                <div class="row">
                  <div class="col-lg-9 col-md-9 col-sm-8">
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Ask questions here" #chat_message id="chat_message_textarea" style="height: 100px"></textarea>
                      <label for="chat_message">Chat</label>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-4 d-flex align-items-end">
                    <button mat-flat-button class="primary-button" (click)="sendMessage(chat_message.value)">
                      <mat-icon>send</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- Map Title -->
    <div class="row">
      <div class="h4 font-weight-bold text-primary">
        DETAILED STATISTICS
      </div>

      <!-- Map card -->
      <div class="px-2 py-2">
        <div class="card">
          <div class="card-body">
          <app-monitoring-table></app-monitoring-table>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
