/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-primary {
    color: #26A9E0;
}

.login-button {
    background-color: #26A9E0;
    border-radius: 20px;
    padding: 10px;
}

.big-icon{
    font-size: 2rem;
    fill: #26A9E0;
}

.primary-button{
    background-color: #26A9E0;
}

  /* Default styles for the div */
  .responsive-div {
    width: 100%;
    height: 200px; /* Default height for all devices */
  }
  
  /* Media Query for Large Devices (Desktops) */
  @media (min-width: 1200px) {
    .responsive-div {
      height: 298px; /* Height for large devices */
    }
  }
  
  /* Media Query for Medium Devices (Tablets) */
  @media (min-width: 768px) and (max-width: 1199px) {
    .responsive-div {
      height: 300px; /* Height for medium devices */
    }
  }
  
  /* Media Query for Small Devices (Phones) */
  @media (max-width: 767px) {
    .responsive-div {
      height: 250px; /* Height for small devices */
    }
  }