<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title> Device Name </mat-card-title>
                <mat-card-subtitle> Device Type </mat-card-subtitle>
                <img mat-card-lg-image src="/assets/router.svg" >
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, officia! Architecto ad, sapiente assumenda culpa totam eius similique voluptatibus reiciendis ea et ipsam sint ducimus! Animi autem aliquid impedit saepe.
                </div>
                <div class="d-flex justify-content-center row">
                    <button class="btn btn-primary col-6"> View </button>
                </div>
            </mat-card-content>
          </mat-card>
    </div>
</div>
  