<div class="row">
    <div *ngFor="let device of devicesList" class="col-lg-4 col-md-6 col-sm-12 py-2 px-2">
        <mat-card class="example-card bg-light">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title> {{device.mac_address}} </mat-card-title>
                <mat-card-subtitle class="text-dark"> {{device.type}} </mat-card-subtitle>
                <mat-card-subtitle class="text-dark"> {{device.manufacturer}} </mat-card-subtitle>
                <img *ngIf="device.type.toLocaleLowerCase() === 'router'" mat-card-md-image src="/assets/router.svg" alt="Router Image">
                <img *ngIf="device.type.toLocaleLowerCase() === 'switch'" mat-card-md-image src="/assets/switch.svg" alt="Switch Image">
                <img *ngIf="device.type.toLocaleLowerCase() === 'access point'" mat-card-md-image src="/assets/access-point.svg" alt="Access Point Image">
                <mat-card-subtitle class="text-success py-2"> Online </mat-card-subtitle>
                <mat-card-subtitle class="text-danger py-2"> Offline </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <mat-card-subtitle class="text-dark"> {{device.description}} </mat-card-subtitle>
                <div class="d-flex justify-content-center py-2 px-2">
                    <button class="btn btn-primary col-6" (click)="openPage('/app/device/', device._id)"> View </button>
                </div>
            </mat-card-content>
          </mat-card>
    </div>
</div>
  